* {
    margin: 0;
    padding: 0;
 }
 .slider {
    max-width: 800px;
    overflow: hidden;
    margin: auto;
 }
 .navigation {
    position: absolute;
    display: flex;
    left: 70%;
 }
 
 .button {
    width: 3vh;
    height: 3vh;
    margin: 2vh;
    background-color: black;
    transition: transform 0.3s, background-color 0.1s;
    border-radius: 50%;
 }
 
 .button:hover {
    background-color: red;
    transform: scale(1.2);
 } 

 .button:active {
    background-color: yellow;
 }
 input[name="meme"] {
    position: absolute;
    visibility: hidden;
 }
 
 .slides {
    width: 400%;
    display: flex;
 }
 
 .slide {
    width: 25%;
    transition: all 0.7s ease;
 }
 
 .img {
    width: 100%;
    height: 100%;

 }
 
 #meme1:checked ~ .first_slide {
    margin-left: 0;
 }
 #meme2:checked ~ .first_slide {
    margin-left: -25%;
 }
 #meme3:checked ~ .first_slide {
    margin-left: -50%;
 }
 #meme4:checked ~ .first_slide {
    margin-left: -75%;
 }